{% extends "recipe_sharing/base.html" %}
{% block title_block %}
Add a recipe
{% endblock %}
{% block body_block %}
<h1>Add a recipe</h1>
<form id="recipe_form" method="post" action="/recipe_sharing/add_recipe/">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
{{ field.errors }}
{{ field.help_text }}
{{ field }}
{% endfor %}
<input type="submit" name="submit" value="Create recipe" />
</form>
{% endblock %}