{% load static %}

<!DOCTYPE html>
{% load static %}
<html>
<head>    
    <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script> 
<title>
{% block title_block %}
    Base title block
{% endblock %}
</title>
</head>
<body>

{% block body_block %}
{% endblock %}

    <div>
        <ul>                 
            <li><a href="{% url 'main_app:about' %}">About</a></li>
            <li><a href="{% url 'main_app:index' %}">Index</a></li>
        </ul>
    </div>

</body>
</html>
