{% extends 'main_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if recipe %}
        {{ recipe.title }}
        {{ recipe.description }}  
        Recipe has estimated cost of {{ recipe.estimated_cost }} / 3
        Recipe has estimated nutrition of {{ recipe.estimated_nutrition}} / 3
        It should take {{ recipe.minutes_to_prepare }}  mins to prepare
    {% else %}
        Unknown recipe
    {% endif %}
{% endblock %}

{% block body_block %}
<ul>
    {% if recipe.recipetoingredient_set.all%}
        <h2> This recipe contains the following ingredients: </h2>
        {% for map in recipe.recipetoingredient_set.all %}
            <li>{{ map.ingredient.name }}: {{ map.ingredient_quantity }} {{ map.ingredient.units }} </a></li>
        {% endfor %}
    {% else %}
         <li><strong>Recipe has no attached ingredients present.</strong></li>
    {% endif %}
</ul>
{% endblock %}