{% extends 'main_app/base.html' %}
{% block title_block %}
{% endblock %}

{% block body_block %}
<div id="search_div" style="display:flex; justify-content:right; padding:1.5%">
    <input  id="ingredient_input" type="text" name="ingredient_input"  placeholder="Input space separated ingredients..." >
</div>

<div id="recipe_search_results" style="display:flex; flex:row; width:auto; padding:1.5%;">
    <ul class="container-xs d-flex flex-row flex-wrap justify-content-left"> <!-- unordered list of "Card" bstrap objs -->
    {% if recipes %}                
        {% for recipe in recipes %}    
            <li class="card" style="width: 18rem;">
                <img src="{{recipe.picture.url}}" class="card-img-top" alt="recipe_pic">  
                <div class="card-body">
                    <h5 class="card-title"> <a href="{% url 'main_app:render_recipe' recipe.title_slug %}">{{ recipe.title }}</a> </h5>
                </div>
                <ul class="list-group list-group-flush">           
            {% for map in recipe.recipetoingredient_set.all %}
                    <li class="list-group-item">{{ map.ingredient.name }}: {{ map.ingredient_quantity }} {{ map.ingredient.units }}</li>
            {% endfor %}
            </li>
        {% endfor %}        
    {% else %}
        No recipe results
    {% endif %}
    </ul> <!-- end of card list -->
</div>

{% endblock %}