{% extends 'main_app/base.html' %}
{% block title_block %}
{% endblock %}

{% block body_block %}

<input  id="ingredient_input" type="text" name="ingredient_input"  placeholder="Input space separated ingredients..." >

<div id="recipe_search_results">
    {% if recipes %}                
        {% for recipe in recipes %}    
            <h4> <a href="{% url 'main_app:render_recipe' recipe.title_slug %}">{{ recipe.title }}</a> </h4>                
            {% for map in recipe.recipetoingredient_set.all %}
                <li>{{ map.ingredient.name }}: {{ map.ingredient_quantity }} {{ map.ingredient.units }}</li>
            {% endfor %}
        {% endfor %}        
    {% else %}
        No recipe results
    {% endif %}
</div>

{% endblock %}